<section class="w-100 h-100 my-2">
    <div class="columns" *ngIf="character$ | async as character,else loading">
        <div class="column is-two-thirds">
            <rm-card 
                [image]="character.image"
                [name]="character.name"
                [id]="character.id" 
                [species]="character.species"
                [image]="character.image"
                [created]="character.created"
                [footer]="false"
            ></rm-card>
        </div>
        <div class="column">
            <div class="has-text-centered mb-2">
                <span class="is-size-3">Episodes</span>
            </div>
            <div class="columns is-multiline">
                <rm-episode 
                    *ngFor="let url of character.episode"
                    [episode]="url"
                ></rm-episode>
            </div>
        </div>
    </div>

    <ng-template #loading>
        <rm-loading></rm-loading>
    </ng-template>
    
</section>